body {
  background: lightblue;
  font-family: Arial;
}

.container {
  text-align: center;
  background: white;
  margin: 50px;
  padding: 20px;
}

h1 {
  color
}                                                            